$black: #000000 !default;
$white: #FFFFFF;
$blue: #151875;
$pink: #FB2E86;
$gray: #8A8FB9;
$softPink : #F2F0FF;
$softGray : #B7BACB;


$josefin : 'Josefin Sans',
sans-serif;
$lato : 'Lato',
sans-serif;

* {
    list-style-type: none;
}

.navbar-brand {
    font-family: $josefin;
    color: $blue;
    font-size: 34px;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.no-focus-outline:focus {
    box-shadow: none;
}

.navbar-search-icon {
    background-color: $pink;
    color: $white;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.first-section, .section-5 {
    background-color: $softPink;
}

.pink-titles {
    color: $pink;
    font-size: 16px;
    font-weight: bold;
}

.main-title {
    font-family: $josefin;
    font-size: 27px;
    font-weight: bold;
    line-height: 35px;
}

.gray-paragraphs {
    font-family: $lato;
    font-size: 12px;
    font-weight: bold;
    color: $gray;
    line-height: 28px;
}

.shop-btn {
    background-color: $pink;
    padding: 15px;
    border: none;
    border-radius: 2px;
    color: $white;
    font-family: $josefin;
    font-size: 17px;
    font-weight: 600;
}

.section-titles {
    font-family: $josefin;
    font-weight: bold;
    font-size: 24px;
    color: $blue;
}

.card {
    background-color: #F6F7FB;
    border: none;
    border-radius: 0;
    box-shadow: #00000021 0px 0px 20px 2px;
}

.card3 {
    background-color: #F6F7FB;
    border: none;
    border-radius: 0;
    box-shadow: #a7a6a621 0px 0px 50px 2px;
}

.card-img-top {
    width: 200px;
    border-radius: 0;
}

.card-body {
    background-color: $white;
}

.card-title {
    font-family: $lato;
    font-weight: bold;
    font-size: 18px;
    color: $pink;
}

.card-color-green {
    width: 14px;
    height: 4px;
    border-radius: 10px;
    background-color: #05E6B7;
}

.card-color-purple {
    width: 14px;
    height: 4px;
    border-radius: 10px;
    background-color: #F701A8;
}

.card-color-blue {
    width: 14px;
    height: 4px;
    border-radius: 10px;
    background-color: #00009D;
}

.card-text {
    font-family: $josefin;
    font-size: 14px;
    font-weight: 400;
    color: #151875;
}

.card-text:last-child {
    font-family: $lato;
    font-family: 400;
}

.card2-title {
    font-family: $josefin;
    font-size: 16px;
    font-weight: 400;
    color: $blue;
}

.card2-text {
    font-family: $josefin;
    font-size: 14px;
    font-weight: 400;
    color: $blue;
}

.card2-text strike {
    font-family: $josefin;
    font-size: 12px;
    font-weight: 400;
}

.card2-background {
    height: 16rem;
    background-color: #F7F7F7;
}

.card3-title {
    font-family: $josefin;
    font-size: 22px;
    font-weight: 600;
    color: $blue;
}

.card3-text {
    font-family: $lato;
    font-size: 16px;
    font-weight: 700;
    color: #1a0b5b45;
    line-height: 25.6px;
}

.gray-text-2 {
    font-family: $lato;
    font-size: 13px;
    color: #ACABC3;
    font-weight: 500;
}

.dot-color-green {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #05E6B7;
}

.dot-color-purple {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #F701A8;
}

.dot-color-blue {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #00009D;
}

.trending-item-title {
    font-family: $josefin;
    font-size: 15px;
    font-weight: 600;
    color: $blue;
}

.trending-price {
    font-family: $lato;
    font-size: 15px;
    font-weight: 400;
    color: $blue;
}

.card4 {
    box-shadow: #a7a6a621 0px 0px 50px 2px;
}

.card4-title {
    font-family: $lato;
    font-size: 17px;
    font-weight: 700;
    color: $blue;
}

.card4-text {
    font-family: $josefin;
    font-size: 14px;
    font-weight: 400;
    color: $blue;
}

.card4-old-price {
    font-family: $josefin;
    font-size: 12px;
    font-weight: 400;
}

.discount-section {
    background-color: #FFF6FB;
}

.price-off-title {
    font-family: $josefin;
    font-weight: 600;
    font-size: 26px;
}

.shop-link {
    text-decoration: none;
    font-family: $lato;
    font-weight: 600;
    font-size: 16px;
    color: $pink;
    border-bottom: 1px solid $pink;
}

.pink-diamond {
    width: 10px;
    height: 10px;
    border: 1px solid $pink;
    transform: rotate(45deg);
}

.active-diamond {
    background-color: $pink;
}

.chair-links {
    text-decoration: none;
    font-family: $lato;
    font-weight: 400;
    font-size: 14px;
    color: $blue;
}

.active-chair-link {
    color: $pink;
    border-bottom: 1px solid $pink;
}

.discount-chair-title {
    font-family: $josefin;
    font-size: 21px;
    font-weight: 400;
    color: $pink;
}

.discount-chair-text {
    font-family: $lato;
    font-size: 17px;
    font-weight: 400;
    color: $softGray;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.discount-chair-list {
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    color: $softGray;
    letter-spacing: 0.05em;

}

.pink-dots {
    width: 10px;
    height: 10px;
    border: 1px solid $pink;
    border-radius: 50%;
}

.top-category-title {
    font-family: $josefin;
    font-size: 42px;
    font-weight: 700;
    color: $blue;
}

.img-banner-title {
    // background-color: red;
    font-family: $josefin;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 700;
    color: $blue;
}

